.img-scale{
     
      transition: 1.5s ease;
}
.img-scale:hover{
    
     transform: scale(1.1);
   
}
.blog-single .blog-single-wrapper{
    
     flex-wrap: wrap; 
     margin-bottom: 100px;
}
.blog-single-image{
  overflow: hidden;
  width: 50%;
    /* margin-right: 20px; */

}
.blog-single-image img{
    
   vertical-align: middle;
}

.blog-single-content{
padding: 0 30px;

   width: 50%;
   
   
}
.blog-single-content a{
    display: inline-block;
}
.blog-single-content p{
    margin:12px 0;
}
.blog-single-content .date{
    font-size: 12px;
}
.blog-single-content h4{
    font-size: 25px;
    transition: 0.3s ease;
}
.blog-single-content h4:hover{
    color: var(--primary-color);
}
.list-view{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;


}
.list-view-content .item{
   
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 30px;
    margin-bottom: 50px;
}
.item-image{
    overflow: hidden;
}
.item-image img{
    vertical-align: middle;
}
.item .item-content a{
    margin-top: 50px;
    display: inline-block;
    color: var(--primary-color);
    font-size: 20px;
}
.item .item-content a span{
    margin-left: 5px;
    color: var(--primay-color);
}
.item .item-content a:hover span{
    font-size: 20px;
    transform: translateX(15px);
    transition: 0.3s ease;
}
.navigation ul{
    list-style-type: none;
}
.navigation ul li{
    display: inline-block;
    margin-right: 15px;
    font-size: 18px;
}
.navigation .numbers.active{
  color: var(--primary-color);
}
.navigation .numbers{
    color: #777;
}
.navigation .numbers:hover{
    color: var(--primary-color);
}

@media (max-width: 991px){
 .blog-single-image,.blog-single-content{
     width: 100%;
     margin-bottom: 20px;
    
 }
}
@media(max-width : 768px){
    .list-view{

        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    
    
    }
}


