.topbar{
    position: fixed;
    width: 100%;
    padding:1rem 0; 
    top: 2rem;
    transition: 0.3s ease;
    z-index: 1;
}
.sticky{
    background:var(--white);
    -webkit-box-shadow: 0 10px 6px -6px rgb(255, 248, 248);
    -moz-box-shadow: 0 10px 6px -6px rgb(255, 251, 251);
    box-shadow: 0 8px 4px -4px rgb(255, 255, 255);
    padding: 1rem 0;
    font-size: 18px;
    top: 0;
}
.topbar.sticky .navbar .menu-bar li a{
    font-size: 16px;
    color: #777;
}
.topbar.sticky .logo i, .topbar.sticky .logo a{
    color: var(--primary-color);
}


.bars{
    color: var(--primary);
    font-size: 20px;
    margin-right: 15px;
    display: none;
}
.topbar .navbar .menu-bar li{
    display: inline-block;
    margin-right: 0.5rem;
}
 .menu-bar li a{
    padding: 0.5rem 1rem;
    
    transition: 0.3s ease;
}
.topbar .navbar .menu-bar li:hover a{
    
    color: var(--primary-color);
}
/* .topbar .navbar .menu-bar li:first-child a{
    color:var(--white)
} */
.topbar .logo{
    font-size: 30px;

}
.topbar .logo i {
    color:var(--white);
    margin-right: 5px;
}
.topbar .logo a{
    color: var(--white);
}





section.hero{
    
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        rgba(46,44,39,0.4), rgba(46,44,39,0.4)
    ),url('../images/pexels-marta-dzedyshko-2067628.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
section.hero .banner{
    
}
section.hero .banner .banner-info{
    width: 50%;

}
section.hero .banner .banner-info h5{
    font-size: 50px;
    color: var(--white);
    font-weight: bold;
    margin-bottom: 2rem;
}
section.hero .banner .banner-info h5 span{
    font-weight: 300;
}
section.hero .banner .banner-info p{
    color: var(--white);
    margin-bottom: 2rem;
}
section.hero .banner .banner-info .btn{
    margin-right: 1rem;
}
section.skills .skills-content{
    width: 50%;
    padding: 15px;
   
}
section.skills .skills-image{
    width: 50%;
    padding: 15px;
}
section.skills .skills-image img{
    
    border-radius: 5px;
}
section.skills .skills-content h5{
    font-size: 22px;
    color:#999;
    margin-bottom: 1.5rem;

}
 h3.big-title{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
   
}
section.skills .skills-content p{
    margin-bottom: 4rem;
}
section.services{
    background: var(--bg-light);
}

section.services .services-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1rem;
    padding: 2rem 0;
   
}

section.services .services-box .box{
   
    text-align: center;
}
section.services .services-box .box i{
    font-size: 30px;
    margin-bottom: 1rem;
    color: var(--primary-color);
}
.title-head{
    font-size: 25px;
    margin-bottom: 25px;
}
section.services .services-box .box p{
    font-size: 16px;
    color: #999;
}
section.recipe .section-image{
    width: 50%;
}
section.recipe .section-content{
    width: 50%;
}

section.recipe .section-content p{
   margin-bottom: 1rem;
}
section.recipe .section-content .list li{
    color: #999;
    margin-bottom: 0.5rem;
}
section.recipe .section-content .list li i{
    font-size: 12px;
     margin-right: 1rem;
}
section.videos{
    background: var(--bg-light);

}
section.videos .wrapper{
    padding: 2rem 0;
}

section.videos .videos-content{
    width: 50%;
    margin-right: 2rem;
   
    
}

section.videos .videos-link{
    width: 50%;
}
section.videos .videos-link iframe{
    width: 100%;
    min-height: 250px;
}

section.address .wrapper{
    padding: 2rem 0;
}
section.address .wrapper .address-content{
    width: 50%;
}
section.address .wrapper  .address-image{
    width: 50%;
}

section.address .wrapper .address-content .list{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;

}
section.address .wrapper .address-content p{
    margin-bottom: 1.5rem;
}
section.address .wrapper .address-content .list li{
    font-size: 18px;
    list-style-type: none;
    display: inline-block;
    color: rgb(119, 117, 117);
    font-weight: 600;
    transition:all 0.5s ease;

}
section.address .wrapper .address-content .list li i{
    font-size: 12px;
    margin-right: 5px;
    
}
section.address .wrapper .address-content .list li:hover {
    color: var(--primary-color);
}
.bg .content{
    margin: 0 auto;
    text-align: center;
    max-width: 750px;
    color: var(--white);
    padding: 4rem 0;
}
.bg{
    padding: 3rem 0;
    background: linear-gradient(
        rgba(46,44,39,0.4), rgba(46,44,39,0.4)
    ),url('../images/pexels-valeriia-miller-2516643.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.bg .content p{
    color: var(--white);
    margin-top: 2rem;
}
section.opening .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem
    ;
}
section.opening ul{
    margin-bottom: 1rem;
    
}
section.opening ul li{
   margin-bottom: 0.5rem;
    font-size: 18px;
    color: #9b9b9b;
    font-weight: 600;
    transition: 0.3s ease;
}
section.opening ul li:hover{
    color: black;
}
footer{
    color: #979797;
    padding: 4rem 0;
    background:var(--footer-bg)
}
.footer-title{
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 600;
}
footer .box .box-list li{
    color: #979797;
    margin-bottom: 1rem;
}
footer .wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-gap: 20px;
}
footer .box .box-list li a{
    color: #979797;
    text-transform: capitalize;
}
footer .box .box-list li span{
    margin-right: 0.5rem;
}
footer .box ul li a:hover{
 color: var(--white);
}
footer .box  p{
    margin-bottom: 20px;
    font-size: 1rem;
    color: #979797;
}
footer .box form{
    margin-bottom: 20px;
    display: flex
    
}
button.email{
    text-align: center;
    background: var(--primary-color);
    border: none;
    outline: none;
    color: #eee;
    font-size: 18px;
    cursor: pointer;
    width: 15%;
    border-radius: 0 0.25rem 0.25rem 0;
}
input[type="email"]{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 85%;
    color: #aaa;
    border-radius: 0.25rem 0 0 0.25rem;
}
footer .wrapper{
    position: relative;
    padding-bottom:2rem;
}
footer .wrapper::after{
    content: '';
 position: absolute;
 width: 100%;
 height: 1px;
 background:rgb(136, 136, 136);
 bottom: 0;
}
.copyright{
    text-align: center;
    margin-top: 2rem;
}







